root{
    --fundo_claro: rgb(244, 244, 244)
    --fundo_escuro: 
}

body{
    background-color: var(--fundo_claro)
}

#introducao{
    display: flex;
}

.assinatura{
    font-style: italic;
    font-size: 11px;
}

footer{
    background-color: rgb(61, 56, 56);
    color: lightgray
}

#estudio{
    float: left;    
    width: 50%;
    padding-left: 7px;
    padding-right: 11px;
    padding-top: 11px;
    padding-bottom: 15px;
    border: 5px;
}

.barra_nav{
    border-radius: 9px;
    border: 5px;
    padding: 11px;
    margin: 11px;
}

#texto_introducao{
    float: right;
    width: 40%;
    border: 5px;
    padding: 5px;
}

#fineespada{
    float: right;
    width: 30%;
}

#fineline_content{
    float: left;
    width: 60%;
}

#bracoblackout{
    float: right;
    width: 30%;
}

#blackout_content{
    width: 60%;
}

#tribal_img{
    width: 30%;
}

#tribal_content{
    width: 60%;
}