.estudio{
    width: 35%;
    float: left;
    margin-right: 10px;
    margin-bottom: 25px;
    max-width: 350px;
}

#estudio_content{
    max-width: 90%;
    border-radius: 25px;
}

#introducao_content{
    width: 60%;
    float: right;
    text-align: justify;
    border: 25px solid transparent;
}

.introducao{
    margin-bottom: 25px;
}

.clear{
    clear: both;
}

#fineline_content{
    width: 60%;
    float: left;
    text-align: justify;
    border: 25px solid transparent;
}

#fineline_img{
    width: 20%;
    float: right;
    margin-left: 10px;
}